<h1 class="display-4 text-center">Preguntas y Respuestas</h1>
<div class="shadow-none p-3 mb-5 bg-light rounded">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0">¿Que tipo de productos venden?</h4><br>
            <footer class="blockquote-footer"> Vendemos figura de coleccion, mangas. comics y  <cite title="Source Title">cosas de anime</cite></footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0">¿Donde estan ubicados?</h4><br>
            <footer class="blockquote-footer">Por ahora no tenemos una sucursal establecida pero estamos pensado movernos a una parte centrica  <cite title="Source Title">de la ciudad</cite></footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0">¿Que tipo de metodos de pago tienen?</h4><br>
            <footer class="blockquote-footer">Aceptamos pagos con tarjeta de debito y credito a meses sin intereses proximamente  <cite title="Source Title">PayPal</cite></footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0">¿Como puedo contactarlos?</h4><br>
            <footer class="blockquote-footer">Nos puedes contactar a nuestro telefono: 449 217 8980, o tambien a nuestro correo electronico mandandonos un ticket en el apartado de  <cite title="Source Title">Contactanos</cite></footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0">¿Los productos tienen garantia?</h4><br>
            <footer class="blockquote-footer">Claro que si cuentan con una garantia de 6 meses sin algun costo <cite title="Source Title">extra</cite></footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0">¿Puede un menor de edad pedir un producto?</h4><br>
            <footer class="blockquote-footer">Un menor de edad puede hacer su pedido si cuenta con la tarjeta de debito o credito y asi el permiso de sus <cite title="Source Title">Padres</cite></footer>
          </blockquote>
    </div>
</div>
