<h1 style="color: white;" class="display-4 text-center"><img src="./../../assets/img/kamui.png" alt="" height="37pc" width="37pc"> Preguntas y Respuestas <img src="./../../assets/img/kamui.png" alt="" height="37pc" width="37pc"></h1>
<div class="shadow-none p-3 mb-5 bg-light rounded">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0" id="faq1">¿Que tipo de productos venden?</h4><br>
            <footer class="blockquote-footer" id="faq2"> Vendemos figura de coleccion, mangas. comics y cosas de anime</footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0" id="faq3">¿Donde estan ubicados?</h4><br>
            <footer class="blockquote-footer" id="faq4">Por ahora no tenemos una sucursal establecida pero estamos pensado movernos a una parte centrica  de la ciuda</footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0" id="faq5">¿Que tipo de metodos de pago tienen?</h4><br>
            <footer class="blockquote-footer" id="faq6">Aceptamos pagos con tarjeta de debito y credito a meses sin intereses proximamente  PayPal</footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0" id="faq7">¿Como puedo contactarlos?</h4><br>
            <footer class="blockquote-footer" id="faq8">Nos puedes contactar a nuestro telefono: 449 217 8980, o tambien a nuestro correo electronico mandandonos un ticket en el apartado de  Contactanos</footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0" id="faq9">¿Los productos tienen garantia?</h4><br>
            <footer class="blockquote-footer" id="faq10">Claro que si cuentan con una garantia de 6 meses sin algun costo extra</footer>
          </blockquote>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <blockquote class="blockquote text-center">
            <h4 class="mb-0" id="faq11">¿Puede un menor de edad pedir un producto?</h4><br>
            <footer class="blockquote-footer" id="faq12">Un menor de edad puede hacer su pedido si cuenta con la tarjeta de debito o credito y asi el permiso de sus padres</footer>
          </blockquote>
          
    </div>
</div>

<div *ngIf="!(accesibilidad.a)">
    <button (click)="hablar('faq1','faq2','faq3',
    'faq4','faq5','faq6',
    'faq7','faq8','faq9',
    'faq10','faq11','faq12')" class="btn btn-danger btn-lg btn-block" >ESCUCHAR</button>
    <button (click)="pausa()" class="btn btn-secondary btn-lg btn-block">PAUSAR</button>
  </div>

