<div class="row">
    <div class="col-md-6 mx-auto mt5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">LOGIN</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="user">Email</label>
                        <input
                        [class.is-invalid]="loginForm.get('email').touched && loginForm.get('email').invalid"
                        type="text" class="form-control" 
                        formControlName="email" 
                        placeholder="Ingresa tu usuario"
                        id="exampleFormControlInput1"
                       >
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" 
                        class="form-control" 
                        formControlName="pass" 
                        placeholder="Ingresa tu contraseña"
                        [class.is-invalid]="loginForm.get('email').touched && loginForm.get('email').invalid">
                    </div>
                    
                    <button class="btn btn-danger btn-lg btn-block" (click)="valida()">Login</button>
                </form>
                <div class="form-group mt-3">
                    <p>Registrate <a [routerLink]="['/register']">ahora!</a></p>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/mensaje']">Telefono</a>
                      </li>
                </div>
            </div>
        </div>
    </div>
</div>
