<div class="row">
    <div class="col-md-6 mx-auto mt5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Registrate</h1>
                <form (ngSubmit)="validateRegister(registerForm)" [formGroup]="registerForm">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input 
                        type="text"
                        class="form-control" 
                        formControlName="name" 
                        placeholder="Ingresa tu nombre"
                        [class.is-invalid]="registerForm.get('name').touched && registerForm.get('name').invalid"
                        >
                    </div>
                    <div class="form-group">
                        <label for="lname">Apellido</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="lname" 
                        placeholder="Ingresa tu apellido"
                        [class.is-invalid]="registerForm.get('lname').touched && registerForm.get('lname').invalid">
                    </div>
                    <div class="form-group">
                        <label for="user">Usuario</label>
                        <input type="text" 
                        class="form-control" 
                        formControlName="user" 
                        placeholder="Ingresa tu usuario"
                        [class.is-invalid]="registerForm.get('user').touched && registerForm.get('user').invalid">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" 
                        class="form-control"
                        formControlName="email"
                        placeholder="Ingresa tu email"
                        [class.is-invalid]="registerForm.get('email').touched && registerForm.get('email').invalid">
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" 
                        class="form-control"
                        formControlName="pass" 
                        placeholder="Ingresa tu contraseña"
                        required
                        [class.is-invalid]="registerForm.get('pass').value != registerForm.get('cpass').value">
                    </div>
                    <div class="form-group">
                        <label for="cpass">Confirmar contraseña</label>
                        <input type="password" 
                        class="form-control"
                        formControlName="cpass" 
                        placeholder="Ingresa tu contraseña"
                        [class.is-invalid]="registerForm.get('pass').value != registerForm.get('cpass').value"
                        >
                        <small *ngIf="registerForm.get('cpass').value != registerForm.get('pass').value ">
                            Las contraseñas no coinciden!
                        </small>
                    </div>
            
                    <button type="submit" class="btn btn-danger btn-lg btn-block" >Registrar</button>
                </form>
                <div class="form-group mt-3">
                    <p>Tienes una cuenta? <a [routerLink]="['/login']">login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
