<img src="../../assets/img/Titulo.jpg" alt="">
<br><hr><br>
<div class="container2">
    <h1 class="display-3 centrar" style="color:crimson ;">¿Que vendemos?</h1>
    <p class="lead centrar" style="color: black;">Tienda Geek</p>
</div>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/figuras.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Figuras de anime</h5>
        <p class="card-text">La mayoría de estos personajes son habituales en estas tiendas frikis, pero eventualmente también puedes encontrar figuras de videojuegos y muchos productos anime y manga muy codiciados por los coleccionistas</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/portada.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mangas</h5>
        <p class="card-text">El manga japonés constituye una de las tres grandes tradiciones historietísticas a nivel mundial, junto con la estadounidense y la franco-belga. Abarca una extensa variedad de géneros y llega a públicos diversos. Es una parte muy importante del mercado editorial de Japón y motiva múltiples adaptaciones a distintos formatos: series de animación, conocidas como anime, o de imagen real, películas, videojuegos y novelas.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/controles.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Accesorios gaming</h5>
        <p class="card-text">Accesorios para videojuegos, como controles de nintendo switch personalizado de color o con un diseño que tu quieras, hecho a pedido. Otros accesorios de videojuegos como controles de otras consolas o el que se te ocurra </p>
        <p class="card-text"><small class="text-muted" style="color: white;">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<br><br><br>
<div class="container3">
    <h1 class="display-3 centrar" style="color:darkmagenta;">Información</h1>
    <p class="lead centrar" style="color: darkmagenta;">Te puede interesar</p>
</div>
  <div class="card-deck">
    <div class="card">
      <a href="https://mangaplus.shueisha.co.jp/titles/200021"><img class="card-img-top" src="../../assets/img/naruto.jpg"  alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">AQUI PUEDES LEER EL MANGA DE BORUTO (click en la imagen)</h5>
        <p class="card-text">Es una serie de manga escrita por Ukyō Kodachi, ilustrada por Mikio Ikemoto y supervisada por Masashi Kishimoto. Consiste en el spin-off y secuela del manga Naruto de Masashi Kishimoto, su historia narra las aventuras y formación de Boruto Uzumaki, el hijo de Naruto Uzumaki y Hinata Hyūga, así como de sus compañeros, quienes conforman la nueva generación de ninjas de la Aldea Oculta de la Hoja cuyo séptimo Hokage es Naruto. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
     <a href="https://www.youtube.com/watch?v=aarLaB3_4v4"><img class="card-img-top" src="../../assets/img/estreno.jpg" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">La cuarta temporada de Ataque de los titanes confirmado (click en la imagen)</h5>
        <p class="card-text">Ataque de los titanes, mejor conocido como Shingeki No Kyojin lanzó el trailer de su segunda parte de la 4ta temporada que sera la ultima y que llevara acabo el final del manga </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <a href="https://www.crunchyroll.com/es"><img class="card-img-top" src="../../assets/img/crunchy.png" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">Crunchyroll pagina oficial para ver anime legalmente (click en la imagen)</h5>
        <p class="card-text">Crunchyroll es un distribuidor, editor y compañía de licencias estadounidense centrado en la transmisión del anime, manga y dorama. Fundada en 2006 por un grupo de estudiantes graduados de la Universidad de California en Berkeley,​ a través de su plataforma web para la emisión de contenidos por medio de streaming de video, a más de cien millones de usuarios registrados,​ cuatro millones están suscritos por medio de pago, en más de 200 países del mundo. </p>
        <p class="card-text"><small class="text-muted" style="color: white;">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>